
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --color-primary: #5A157F;
    --color-warning: #E94560;
    --color-secondary: #4B418B;
    --color-success: #795DE9;
    --color-info: #0F3460;
    --color-dark : #16213E;
    --color-light: #FFFFFF;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}


/* ======================================================================= */



body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-light);
    background: var(--color-info);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1,6rem;
}
h4 {
    font-size: 1,3rem;
}
a{
    color: var(--color-light);
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    background: var(--color-dark);
    color: var(--color-light);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}
.btn:hover {
    background: transparent;
    color: var(--color-light);
    border-color: var(--color-light);
}

.btn-primary {
    background: var(--color-warning);
    color: var(--color-light);
}

/*==========NAVBAR======*/
nav{
    background: var(--color-secondary);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}


.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav_menu a:hover{
    color: var(--color-primary);
}
.logo {
    flex-grow: 1;
}




/*==========Contact start======*/
.contact__container {
    background: var(--color-secondary);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/*==========Aside start======*/
.contact__aside {
    background: var(--color-success);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside__image {
    width: 15rem;
    margin-bottom: 3rem;
}


.contact__aside h2{
    font-size:large;
    text-align: left;
    margin-bottom: 1rem;
}
.contact__aside p{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.contact__details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem ;
}

.contact__socials {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 0.4rem;
    margin-top: 2rem;
}
.contact__socials a {
    background: var(--color-dark);
    padding: 0.7rem;
    border-radius: 10%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact__socials a:hover {
    background: transparent;
}

/*==========Aside End======*/



/*==========Form start======*/
.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form__name {
    display: flex;
    gap: 1.2rem;
}

.contact__form input[type="text"] {
    width: 50%;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    background: var(--color-dark);
    color: var(--color-light);
}

.contact__form .btn {
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}

/*==========Form End======*/

/*==========MEDIA QUERIES (TABLES) ======*/
@media screen and (max-width: 1024px) {
    .contact{
        padding-bottom: 0;
    }

   .contact__container{
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
   }

   .contact__aside {
    width: auto;
    padding: 1.5rem;
    bottom: 0;
   }

   .contact__form {
    align-self: center;
    margin-right: 1.5rem;
   }
}
/*==========MEDIA QUERIES (TABLES) ======*/
@media screen and (max-width: 600px) {
    .contact__container {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact__form {
        margin: 0 1.5rem 3rem;
    }

    .form__name {
        flex-direction: column;
    }

    .form__name input[type="text"]{
        width: 100%;
    }
}


/*==========Footer start======*/
footer {
    background: var(--color-secondary);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer__container > div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom:0.7rem ;
    
}
footer ul li a:hover{
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem ;
}
.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-dark);
}
/*==========Footer End======*/